img.img-thumbnail{
    height:100px;
    min-width: 100px !important;
    margin-bottom: 2px;
    
}
.space{
    margin-right: 8px !important;
}

.nv-file-over{
    border: dotted 3px rgb(77, 186, 77);
}

input[type=file]{
    color: transparent;
}